@import "variables/variables";

$font-family-sans-serif: Helvetica, 'Helvetica Neue', sans-serif;

$font-family-serif: Georgia, serif;

$color-embassy-yellow: rgb(246, 211, 11);

body {
  font-family: $font-body-text;
  font-size: 16px;
  background-color: $color-embassy-yellow;
  margin: 0;
}

p {
  line-height: 1.5;
  text-transform: none;
  font-style: italic;
}

h1,
h2,
h3 {
  font-family: $font-headings;
}

h3,
li {
  color: rgba(0, 0, 0, 0.8);
  font-size: 15px;
  line-height: 1.3;
  font-weight: 700;
  text-transform: none;
  font-style: normal;
  text-decoration: none;
}

li a {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

}

/* Top navigation */

.top-navigation {
  display: flex;

  .logo-momkai {
    margin: 15px 50px;
    float: left;
  }

  .portal {
    margin-right: 40px;
  }

  .portal ul {
    //display: none;
    background: #fff;
    list-style-type: none;
    margin: 0;
    padding: 10px 10px 10px 0;
  }

  h3 {
    margin: 7px 0 0;
  }

  a {
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

}

.logo-embassy {
  display: block;
  margin: 100px auto 0;
}

/* Content */

.container {
  margin: 0 auto;

}

#mw-content-text {
  background: #ffffff;
  padding: 100px;
}

/* Drodpown menu */

.main-nav {

  .noSelect {
    user-select: none;
  }

  header {
    position: fixed;
    width: 100%;
    height: auto;
    background: orange;
    box-shadow: 1px 0 6px #666;
  }

  nav {
    // position: relative;
    height: 100%;
    // background-color: lime;
  }

  nav ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    list-style: none;
    height: 100%;
    // transition: all 1s ease;
    padding: 0 20px 0 0;
  }

  h3 {
    padding: 0 80px 0 0;
    margin-bottom: 7px;
  }

  nav ul > li { // top level menu

    &:hover {
      padding: 0;
      background-color: orange;
      cursor: pointer;
    }
  }

  ul li ul { // the nested ul
    display: none;

    visibility: hidden;

    z-index: 999999;
    height: 0;
    width: 100%;

    li {
      background: orange;
      padding: 10px;
      &:hover {
        padding: 10px;
        background-color: orange;
        cursor: pointer;
      }
    }
  }

  ul li:hover > ul {
    visibility: visible;
    display: block;
  }

  .nested-submenu {
    position: absolute;
    top: 0;
    left: 0;
  }
}
