// Define margins across project
$te-margins: (
    small: 20px,
    medium: 30px,
    large: 40px,
    xlarge: 60px,
    xxlarge: 100px,
    xxxlarge: 140px,
);

// Define paddings across project
$te-paddings: (
    small: 20px,
    medium: 30px,
    large: 40px,
    xlarge: 60px,
    xxlarge: 100px,
    xxxlarge: 140px,
);
